name: build

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push API
        uses: docker/build-push-action@v6
        with:
          context: .
          file: api/Dockerfile
          push: true
          tags: |
            ghcr.io/mpriesol/inventory-hub-api:main
            ghcr.io/mpriesol/inventory-hub-api:sha-${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build & push Frontend
        uses: docker/build-push-action@v6
        with:
          context: .
          file: frontend/Dockerfile
          push: true
          build-args: |
            VITE_API_BASE=/api
          tags: |
            ghcr.io/mpriesol/inventory-hub-frontend:main
            ghcr.io/mpriesol/inventory-hub-frontend:sha-${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
